<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/master.css">
<link rel="stylesheet" type="text/css" href="css/header.css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


<script type="text/javascript" src="../controllers/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../controllers/header-controller.js"></script>
<script type="text/javascript" src="../controllers/common.js"></script>

<header id="main_header">
    <div class="in_grid row">
        <nav id="main-nav" class="flex-item">
            <ul id="main-menu" class="menu">
                <li class="menu-item"><a href="./admin-portal.php">Home</a></li>
                <li class="menu-item" id="ta-list"><a href="./admin-ta-list.php">List TAs</a></li>
                <li class="menu-item" id="course-list"><a href="./admin-course-list.php">Course List</a></li>
                <li class="menu-item" id="viewApplications"><a href="./admin-view-applications.php">View Applications</a></li>
                <li class="menu-item" id="logout"><a href="">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="flex center">
    <p id="statusText" class="hidden row-center"></p>
</div>